<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>test-form-send-data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">test-form-send-data</ion-title>
    </ion-toolbar>
  </ion-header>
      <p>{{receivedData.name}}</p>
      <p>{{receivedData.email}}</p>
      <p>{{receivedData.fathername}}</p>
      <p>{{receivedData.dob}}</p>
      <p>{{receivedData.mobile}}</p>
</ion-content>
